.venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
.DS_Store
.ipynb_checkpoints/
# model/*.pkl
data/raw/*.csv
data/processed/*.csv
app/*_backup.py
app/*_backup.py
data/processed/model_training_dataset.csv
data/processed/*.csv